@import "./vars";
.skills {
  background-color: $second-color;
  &__inner {
    padding-bottom: 60px;
  }
  &__title {
    color: $main-color;
    text-transform: capitalize;
    text-align: center;
    font-size: 34px;
    padding-top: 80px;
  }
  &__menu {
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    margin: 5px;
    padding: 0;
    list-style: none;
  }
  &__list {
    font-size: 18px;
    padding: 10px 30px;
    background-color: #3764a3;
    border-radius: 5px;
    margin: 5px;
  }
}
.html {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url("../img/html.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 7px;
  }
}
.css {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url("../img/css.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 7px;
  }
}
.js {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url("../img/js.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 7px;
  }
}
.git {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url("../img/git.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 7px;
  }
}
.github {
  position: relative;
  padding-left: 50px;
  &::before {
    position: absolute;
    width: 50px;
    height: 45px;
    content: "";
    background-image: url("../img/github.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 5px;
    top: 0px;
  }
}
.vs {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url("../img/vs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 7px;
  }
}
.figma {
  position: relative;
  padding-left: 40px;
  &::before {
    position: absolute;
    width: 25px;
    height: 25px;
    content: "";
    background-image: url("../img/figma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 7px;
    top: 7px;
  }
}
